<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gescov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".viewlayer.Singletons.GescovApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gescov"
        android:usesCleartextTraffic="true">
        <activity android:name=".viewlayer.ClassroomActivities.ClassroomDistribution.InformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.home.upgraderole.UpgradeRoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.createsubject.CreateSubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.event.EventActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.tracingTestResult.TestDetailsActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.tracingTestResult.TracingTestResultActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.forum.CreateForumEntryFormActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.forum.forumreply.ForumReplyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolClassroomList.classroomSchedule.InsertScheduleActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />

        <activity
            android:name=".viewlayer.ClassroomActivities.StudentsInClassSession.StudentsInClassSessionActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.addteachertosubject.AddTeacherToSubjectActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.createclasssession.CreateClassSessionActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.checkclasssession.CheckClassSessionActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.SubjectDetailActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.Subjects.SubjectActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.ContagionList.ContagionListActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.AccessSchoolByCodeActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.chat.createchat.CreatingChatActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.chat.chatview.ChatViewActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.ClassroomActivities.StudentsInClassRecord.StudentsInClassRecordActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.chat.createchat.CreateChatActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.schoolrequests.SchoolRequestsListActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.UpdateUserProfile.UpdateUserProfileActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.SchoolDetailsActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.schooluserslist.SchoolUsersListActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.home.DailyTestActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SignUpAndLogin.LoginActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolClassroomList.CreateClassroomFormActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolClassroomList.EditClassroomFormActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.SchoolGraphActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.ClassroomActivities.ClassroomDistribution.ClassroomDistributionActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.ClassroomActivities.MarkPositionInClassroom.MarkPositionInClassroom"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.home.CovidNotificationActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolClassroomList.SchoolClassromListActivity"
            android:label="@string/title_activity_school_classrom_list"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SchoolsActivities.SchoolsAdministration.CreateSchoolFormActivity"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.navigation.NavigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".viewlayer.SignUpAndLogin.LoadingProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gescov.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh_d-WKGRiQXnUvKng5HOtSrPfNcg8BDQ" /> <!-- notification -->
        <service
            android:name=".FirebaseNotificationController"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>