<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gescov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ViewLayer.ViewLayerSingletons.GescovApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gescov">
        <activity android:name=".ViewLayer.ClassroomActivities.StudentsInClassRecord.StudentsInClassRecordActivity"></activity>
        <activity android:name=".ViewLayer.UpdateUserProfile.UpdateUserProfileActivity" />
        <activity android:name=".ViewLayer.SchoolsAdministration.SchoolDetailsActivity" />
        <activity android:name=".ViewLayer.home.DailyTestActivity" />
        <activity android:name=".ViewLayer.LoginAndRegister.LoginActivity" />
        <activity android:name=".ViewLayer.SignIn.SignInActivity" />
        <activity android:name=".ViewLayer.login.LoginActivity" />
        <activity android:name=".ViewLayer.ClassroomActivities.SchoolClassroomList.CreateClassroomFormActivity" />
        <activity android:name=".ViewLayer.ClassroomActivities.SchoolClassroomList.EditClassroomFormActivity" />
        <activity android:name=".ViewLayer.ClassroomActivities.ClassroomDistribution.ClassroomDistributionActivity" />
        <activity android:name=".ViewLayer.MarkPositionInClassroom.MarkPositionInClassroom" />
        <activity android:name=".ViewLayer.home.CovidNotificationActivity" />
        <activity
            android:name=".ViewLayer.ClassroomActivities.SchoolClassroomList.SchoolClassromListActivity"
            android:label="@string/title_activity_school_classrom_list"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity android:name=".ViewLayer.SchoolsAdministration.CreateSchoolFormActivity" />
        <activity
            android:name=".ViewLayer.navigation.NavigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/Theme.Gescov.NoActionBar" />
        <activity
            android:name=".ViewLayer.LoginAndRegister.LoadingProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gescov.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>